services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sobee-sqlserver
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Pokemon123!"
    volumes:
      - mssql_data:/var/opt/mssql
    restart: unless-stopped

volumes:
  mssql_data:
